.book {
	height: 50rem;
	background: linear-gradient(
			115deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.9) 57%,
			rgba(186, 133, 80, 0.8) 57%,
			rgba(161, 79, 3, 0.8) 100%
		),
		url(../img/bg-form.jpg) center / cover no-repeat;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	overflow: hidden;
}

@media only screen and (max-width: 900px) {
	.book {
		background: linear-gradient(
				115deg,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.9) 507%,
				rgba(186, 133, 80, 0.8) 57%,
				rgba(161, 79, 3, 0.8) 100%
			),
			url(../img/bg-form.jpg) center / cover no-repeat;
	}
}
.form {
	width: 70%;
	padding-top: 5rem;
	padding-left: 5rem;
}

@media only screen and (max-width: 900px) {
	.form {
		width: 100%;
		padding-top: 3rem;
		padding-left: 3rem;
	}
}

.form__group:not(:last-child) {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 1240px) {
	.form__group:not(:last-child) {
		margin-bottom: 0;
	}
}

.form__group:nth-child(4) {
	margin-bottom: 4rem;
}

@media only screen and (max-width: 1240px) {
	.form__group:nth-child(4) {
		margin-bottom: 2.5rem;
	}
}

.form__input {
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	color: black;
	background: white;
	padding: 2rem 0rem 2rem 2rem;
	border: none;
	border-bottom: 0.3rem solid transparent;
	border-radius: 0.5rem;
	width: 70%;
}

@media only screen and (max-width: 900px) {
	.form__input {
		width: 90%;
	}
}

.form__input:focus {
	outline: none;
	border-bottom: 0.3rem solid #66d763;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.form__label {
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	font-weight: 400;
	display: block;
	margin-top: 1rem;
	margin-left: 1.5rem;
	transition: 0.2s all;
}

.form__input:focus:invalid {
	border-bottom: 0.3rem solid #d76363;
}

.form__input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-3rem);
}

.form__group-radio {
	display: inline-block;
}

@media only screen and (max-width: 900px) {
	.form__group-radio {
		display: block;
	}
}

.form__group-radio:not(:last-child) {
	margin-right: 5rem;
	margin-left: 3rem;
}

@media only screen and (max-width: 900px) {
	.form__group-radio:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.form__input-radio {
	display: none;
}

.form__label-radio {
	cursor: pointer;
	position: relative;
	padding-left: 0.4rem;
}

.form__button-radio {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: 0.5rem solid #a14f03;
	display: block;
	position: absolute;
	left: -3.2rem;
	top: -0.5rem;
}

.form__button-radio:after {
	content: '';
	display: block;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: #a14f03;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.2s all;
}

.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
	opacity: 1;
}
