.navigation__toggle {
	display: none;
}

.navigation__button {
	background: white;
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	position: fixed;
	top: 10rem;
	right: 10rem;
	z-index: 200;
	text-align: center;
	cursor: pointer;
}

.navigation__background {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background: radial-gradient(#ba8554, #a14f03);
	position: fixed;
	right: 11rem;
	top: 11rem;
	z-index: 100;
	transition: all 0.7s;
}

.navigation__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 150;
	opacity: 0;
	width: 0;
	transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	width: 100%;
}

.navigation__item {
	text-align: center;
}

.navigation__item:not(:last-child) {
	margin-bottom: 5rem;
}

.navigation__link {
	font-size: 4rem; 
	color: white; 
	letter-spacing: 0.5rem;
	text-decoration: none;
	text-transform: uppercase;
	background: linear-gradient(
		120deg,
		transparent 0%,
		transparent 50%,
		white 50%
	); 
	background-size: 220%;
	padding: 1rem 2rem;
	transition: all 0.4s;
	display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
	background-position: 100%;
	color: #a14f03; 
	transform: translateX(1rem);
}

.navigation__toggle:checked ~ .navigation__background {
	transform: scale(80);
}

.navigation__toggle:checked ~ .navigation__nav {
	width: 100%;
	opacity: 1;
}

.navigation__icon {
	position: relative;
	margin-top: 3.7rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	width: 3rem; 
	height: 0.2rem; 
	background: black; 
	display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
	content: '';
	position: absolute;
	left: 0;
	transition: all 0.2s;
}

.navigation__icon::before {
	top: -0.8rem; 
}

.navigation__icon::after {
	top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
	top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
	top: 1rem;
}

.navigation__toggle:checked + .navigation__button .navigation__icon {
	background: transparent;
}

.navigation__toggle:checked + .navigation__button .navigation__icon::before {
	top: 0;
	transform: rotate(135deg);
}

.navigation__toggle:checked + .navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}
