.section-about {
	padding-top: 8rem;
	margin-bottom: 20rem;
}

@media only screen and (max-width: 900px) {
	.section-about {
		margin-bottom: 40rem;
	}
}
@media only screen and (max-width: 1240px) {
	.section-about {
		margin-bottom: 13rem;
	}
}

.section-adventure {
	padding: 21rem 0;
	background: linear-gradient(
			90deg,
			rgba(186, 133, 84, 0.7),
			rgba(1, 1, 1, 0.7)
		),
		url('../img/section-adventure.jpg') center / cover no-repeat;
	transform: skewY(7deg);
}

.section-adventure > * {
	transform: skewY(-7deg);
}

@media only screen and (max-width: 1240px) {
	.section-adventure > * {
		padding: 15rem 0;
	}
}

.section-tour {
	padding-top: 21rem;
}

.section-feedBack {
	margin-top: 5rem;
	padding: 8rem 0rem;
	margin-bottom: 8rem;
	position: relative;
}

.section-book {
	padding: 10rem;
	background: linear-gradient(90deg, rgba(186, 133, 84), rgba(1, 1, 1));
}

@media only screen and (max-width: 900px) {
	.section-book  {
		padding: 4rem
	}
}